---
Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// @font-face {
//     font-family: 'S-CoreDream-3Light';
//     src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Ownglyph_eunbyul21-Rg';
//     src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/Ownglyph_eunbyul21-Rg.woff2') format('woff2');
//     font-weight: normal;
//     font-style: normal;
// }

@font-face {
    font-family: 'Sagak-sagak';
    src: url('/assets/fonts/Sagak-sagak.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// 글자 설정
body {
    letter-spacing: 0.04em; // 자간
    word-spacing: 0.15em; // 공백 너비
}

