/* ==========================================================================
   Air skin
   ========================================================================== */

/* Colors */
// 블루베리 치즈 케이크 컨셉 색상 설정
$background-color: #fce7e9 !default;         // 조금 덜 누런 밝은 베이지색
$text-color: #3a3d5c !default;               // 조금 덜 어두운 남색
$muted-text-color: #5a5e79 !default;         // 부드러운 보라색, 부가 텍스트 색상
$primary-color: #898FCB !default;            // dreamy blue
$border-color: #B394BB !default;             // cloud purple
$footer-background-color: #898FCB !default;  // 푸터 배경색, dreamy blue
$link-color: #898FCB !default;               // 링크 색상, dreamy blue
$masthead-link-color: #3a3d5c !default;      // 헤더 링크 색상
$masthead-link-color-hover: #5a5e79 !default;// 헤더 링크 호버 색상
$navicon-link-color-hover: #5a5e79 !default; // 내비게이션 아이콘 호버 색상
// #162a41 남색


// /* Colors */
// // 블루베리 치즈 케이크 컨셉 색상 설정
// $background-color: #faf3dd !default;         // 조금 덜 누런 밝은 베이지색
// $text-color: #3a3d5c !default;               // 조금 덜 어두운 남색
// $muted-text-color: #5a5e79 !default;         // 부드러운 보라색, 부가 텍스트 색상
// $primary-color: #4b2c76 !default;            // 블루베리 크림 같은 진한 보라색 강조 색상
// $border-color: #e6d9b6 !default;             // 배경색보다 약간 더 어두운 테두리 색상
// $footer-background-color: #4b2c76 !default;  // 푸터 배경색
// $link-color: #4b2c76 !default;               // 링크 색상
// $masthead-link-color: #3a3d5c !default;      // 헤더 링크 색상
// $masthead-link-color-hover: #5a5e79 !default;// 헤더 링크 호버 색상
// $navicon-link-color-hover: #5a5e79 !default; // 내비게이션 아이콘 호버 색상
// // #162a41 남색






.page__footer {
  color: #fff !important; // override
}

.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}
